.pad-0 {
  padding: 0; }

.pad-1 {
  padding: 0.25rem; }

.pad-2 {
  padding: 0.5rem; }

.pad-3 {
  padding: 1rem; }

.pad-4 {
  padding: 1.5rem; }

.pad-5 {
  padding: 3rem; }

.marg-0 {
  margin: 0; }

.marg-1 {
  margin: 0.25rem; }

.marg-2 {
  margin: 0.5rem; }

.marg-3 {
  margin: 1rem; }

.marg-4 {
  margin: 1.5rem; }

.marg-5 {
  margin: 3rem; }

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

* {
  font-family: 'Montserrat', sans-serif; }

.colortitulo {
  font-family: 'Montserrat', sans-serif;
  color: #fff6f6; }

.contenedor {
  width: 100%;
  margin: auto; }

.menu li {
  display: inline;
  padding-right: 20px; }

a:link {
  text-decoration: none; }

img {
  width: 100%;
  height: 100%; }

.banner {
  height: 35vh;
  margin-top: -60px;
  position: relative;
  background: url("../img/Index.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 5px 10px 10px #617883; }

.banner__descripcion {
  position: absolute;
  text-align: center;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 15px;
  margin-top: 18px; }

.button__banner {
  background: #9cc76b;
  border: none;
  padding: 12px;
  color: #fff;
  font-size: 20px; }

.button__banner:hover {
  border: 2px solid #9cc76b;
  background: none; }

.galeria h1 {
  font-size: 40px;
  text-align: center; }

.galeria {
  margin: 20px; }

.team h1 {
  font-size: 40px;
  text-align: center; }

.team {
  background: #f6f6f6;
  padding: 30px; }

.team__columna img {
  border-radius: 50%; }

.team p {
  text-align: justify; }

.team__grid {
  display: grid;
  grid-gap: 30px; }

.info h1, .columna h1 {
  color: #9cc76b;
  font-size: 30px; }

.info, .columna {
  text-align: center; }

.columna {
  margin: 20px; }

.info .contenedor, .columna .contenedor {
  display: grid;
  grid-gap: 10px; }

.banner2 {
  height: 50vh;
  color: #0f0e0e;
  position: relative;
  background: url("../img/banner2.webp");
  background-size: cover;
  background-position: right;
  background-attachment: fixed; }

.banner2 h1 {
  font-size: 28px; }

.banner2__descripcion {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

.johnlennon {
  color: #9cc76b; }

.footer {
  background: #292929;
  color: #f7f7f7;
  text-align: center;
  padding: 10px; }

h1:hover {
  color: #9cc76b;
  transition: 2s; }

h1 {
  animation-duration: 3s;
  animation-name: fadein;
  animation-iteration-count: 1;
  font-weight: 900; }

.header__contenido {
  position: relative;
  z-index: 100; }

.logo {
  font-weight: 900;
  font-size: 30px;
  margin: 10px;
  font-family: cambria;
  color: #fff; }

ul {
  margin-top: 25px;
  margin-bottom: 1rem; }

.fuente {
  font-size: 20px;
  font-weight: 600; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 520px) {
  .banner h1 {
    font-size: 30px;
    color: #292929; }
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr); }
  .team .team__grid {
    grid-template-columns: repeat(2, 1fr); }
  .info .contenedor, .columna .contenedor {
    grid-template-columns: repeat(3, 150px);
    justify-content: space-around; }
  .banner2 h1 {
    font-size: 50px;
    color: #292929; }
  .banner2 p {
    font-size: 25px;
    color: #292929; } }

.header__contenido {
  display: flex;
  flex-direction: column;
  z-index: 100;
  font-size: 10px; }

.fuente {
  font-size: 12px;
  font-weight: 600; }

ul {
  margin-top: 5px;
  margin-bottom: 1rem;
  justify-items: center;
  justify-content: center; }

@media (min-width: 728px) {
  .team .team__grid {
    grid-template-columns: repeat(4, 195px);
    justify-content: space-around; }
  .fuente {
    font-size: 12px;
    font-weight: 600; } }

.button__banner {
  background: #9cc76b;
  border: none;
  padding: 0px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 0%; }

.banner {
  height: 180px; }

.banner h1 {
  margin-top: 2rem;
  font-size: 20px;
  color: #292929; }

@media (min-width: 1024px) {
  .contenedor {
    width: 1000px; }
  .banner h1 {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 45px; }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 160px; }
  .big {
    grid-column: span 2;
    grid-row: span 2; }
  .banner2 p {
    font-size: 30px; }
  .fuente {
    font-size: 20px;
    font-weight: 600; }
  .banner {
    height: 50vh; }
  .button__banner {
    background: #9cc76b;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 20px; }
  ul {
    margin-top: 25px;
    margin-bottom: 1rem;
    justify-items: center;
    justify-content: center; }
  .banner__descripcion {
    position: absolute;
    text-align: center;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 15px;
    margin-top: 25px; } }
