*{
    margin: 0;
    /* padding: 0; */
}

body{
    background-color: rgba(255, 255, 255, 0.788);
    font-family: 'Montserrat', sans-serif;

    
}

.colortitulo{
    font-family: 'Montserrat', sans-serif;
    color: rgb(73, 73, 116); 
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
}



ul{
    list-style-type: none;
}

.alinear{
   display: flex;
   justify-content: center;
   margin-top: 40px;
   margin-bottom: 40px;
   
   

}
.video{
    justify-content: 50%;
    margin-left: 4rem;
    margin-bottom: 4rem;
}



.imagenBox {
    
    
    padding: 5rem;
    background-image: url(../Imagenes/2.jpg);
    background-position: 50%;    
    
    background-repeat: no-repeat;
   
    border-radius: 15px;

}



.menu li{
    display: inline;
    padding-right: 20px;
}

.tarjeta {
    background-color: rgb(124, 174, 197);
    box-shadow: 5px 10px 10px rgb(97, 120, 131);
    border-radius: 10px;
    text-align: center;

    width: 300px;
    padding: 1rem;
    margin: auto;
    

    position: relative;
}

header{
   
    display: flex;
    justify-content: space-between;    
    min-height: 50px;
    background-color: rgb(135, 164, 206);
    align-items: center; 
    padding: 10px;
    box-shadow: 5px 10px 10px rgb(97, 120, 131);
    

}


p{
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    line-height: 2;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

footer{
    display: flex;
    justify-content: space-between;
    height: 70;
    background-color: rgb(135, 164, 206);
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
}
a{
    text-decoration: none;

}




.fieldsetAlign {
    justify-content: center;
}

.grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1fr;
    padding: 2rem;

}
.grid video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.grid__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(97, 132, 148);
   

    
    

}

@media screen and (max-width: 1024px) {
    
    
    
}

@media screen and (max-width: 600px) {
    .grid {
    
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1fr;
        padding: 2rem;
    
    }
    .grid video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
    
    
    .grid__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(97, 132, 148);
       
    
        
        
    
    } 
    .colortitulo{
        font-family: 'Montserrat', sans-serif;
        color: rgb(35, 161, 83); 
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        height: auto;
        background-color: rgb(135, 164, 206);
        align-items: center;
       
        margin-top: 40px;
        width: auto;
    }
   
    header{
   
        display: flex;
        justify-content: space-between;    
        min-height: auto;
        background-color: rgb(135, 164, 206);
        align-items: center; 
        padding: 10px;
        box-shadow: 5px 10px 10px rgb(97, 120, 131);
        
    
    }
    .menu li{
        display: contents;
        flex-direction: column;
        padding-right: 20px;
    }
    
    h1 {
        font-size: 20px;
        margin-top: 15px;
    }

    
}
