body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; }
  
  * {
    font-family: 'Montserrat', sans-serif; }
  
.colortitulo {
    font-family: 'Montserrat', sans-serif;
    color: #fff6f6; }
  
.contenedor {
    width: 100%;
    margin: auto; }
  
.menu li {
    display: inline;
    padding-right: 20px; }
  
a:link { text-decoration: none;
    }
  
img {
    width: 100%;
    height: 100%; }
  