.footer{
    background: #292929;
    color: rgb(247, 247, 247);
    text-align: center;
    padding: 10px;

}

h1:hover {
    color: #9cc76b;
    transition: 2s;
    
}
h1 {
    animation-duration: 3s;
    animation-name: fadein;
    animation-iteration-count: 1;
}